.archive-posts .post{
	padding: 15px;
}


.archive-posts .post .date{
    color: #AAAAAA;
    font-size: 16px;
    padding: 0px 30px;
}

.archive-posts .post .title a{
    font-family: Heebo, sans-serif;
    font-size: 16px;
    color: #000;
}
