.single-post a{
  text-decoration: underline;
}
.single-post a:hover{
	background-color:#000;
	color:white;
}
.single-post blockquote{
	font-style: italic;
}

.single-post{
    padding: 0px 45px;
    max-width: 768px;
    font-family: Heebo,sans-serif;
}

@media screen and (max-width: 60em){
	.single-post{
		max-width: 100%;
	}
}


.single-post .title{
    font-size: 50px;
 	line-height: 1.4;
}

.single-post .content{
 	line-height: 1.667;
 	font-size: 16px;
}

.meta-data{
	color: #AAAAAA;
	font-size: 12px
}

.single-post iframe,
.single-post img{
	width: 100%;
}
