#primary-sidebar {
    font-family: Heebo,sans-serif;
}
#primary-sidebar .logo {
	font-size: 20px;
}



@media screen and (max-width: 60em){
	#primary-sidebar{
	    border-bottom: 1px solid #e8e8e8;
	}

	#primary-sidebar .logo{
		text-align: center;
	   	padding:45px 0px 28px;
	}

	#primary-sidebar .navigation{
		text-align: center;
	}
	#primary-sidebar .navigation ul li{
	    display: inline;
	    padding: 10px;
	    font-size: 12px;
	}
}



/* Desktop Version 
*/
@media screen and (min-width: 60em){
	#primary-sidebar{
	    width: 250px;
	    float: left;
	    border-right: 1px solid #e8e8e8;
	    position: fixed;
	    top: 0px;
	    height:100%;
	    padding: 80px 0px 0px 70px;
	}

	#primary-sidebar .navigation ul{
		padding: 0px;
		list-style-type: none;
	}

	#primary-sidebar .navigation ul li{
		margin-bottom: 20px;
	}

	#primary-sidebar .navigation ul li a{
		font-size: 12px;
		font-family: Heebo, sans-serif;
	}
	#primary-sidebar .logo{
		margin-bottom:95px;
	}
}
